Repository aws/copilot-cli, pull requests merged in 2020-03, with the labels that each got.

#726 feat: service discovery by default
  e2e/multi-app-project/back-end/Dockerfile
  e2e/multi-app-project/back-end/go.mod
  e2e/multi-app-project/back-end/go.sum
  e2e/multi-app-project/back-end/index.html
  e2e/multi-app-project/back-end/main.go
  e2e/multi-app-project/back-end/nginx.conf
  e2e/multi-app-project/front-end/Dockerfile
  e2e/multi-app-project/front-end/go.mod
  e2e/multi-app-project/front-end/go.sum
  e2e/multi-app-project/front-end/index.html
  e2e/multi-app-project/front-end/main.go
  e2e/multi-app-project/front-end/nginx.conf
  e2e/multi-app-project/multi_app_project_test.go
  go.mod
  go.sum
  internal/pkg/deploy/cloudformation/cloudformation_integration_test.go
  templates/environment/cf.yml
  templates/lb-fargate-service/cf.yml
Labels: area/app, area/env, type/feature

#719 feat: pass addon outputs to the application stack
  go.mod
  go.sum
  internal/pkg/addons/addons.go
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/mocks/mock_addons.go
  internal/pkg/cli/app_package.go
  internal/pkg/cli/app_package_test.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/deploy/cloudformation/stack/template_functions.go
  internal/pkg/deploy/cloudformation/stack/template_functions_test.go
  internal/pkg/workspace/errors.go
  internal/pkg/workspace/workspace.go
  internal/pkg/workspace/workspace_test.go
  templates/addons/cf.yml
  templates/lb-fargate-service/cf.yml
Labels: area/addon, type/enhancement

#729 feat: Add Deploy alias command
  cf-custom-resources/package-lock.json
  cf-custom-resources/package.json
  e2e/init/init_test.go
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-env-project/multi_env_test.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
Labels: area/app, type/enhancement

#731 chore: make e2e tests more stable + update npm dependencies
  cf-custom-resources/package-lock.json
  cf-custom-resources/package.json
  e2e/init/init_test.go
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-env-project/multi_env_test.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
Labels: type/test

#736 test: enable addons and add e2e tests
  e2e/addons/addons_suite_test.go
  e2e/addons/addons_test.go
  e2e/addons/hello/Dockerfile
  e2e/addons/hello/addons/ddb.yml
  e2e/addons/hello/addons/outputs.yml
  e2e/addons/hello/addons/params.yml
  e2e/addons/hello/addons/policy.yml
  e2e/addons/hello/addons/secret.yml
  e2e/addons/hello/go.mod
  e2e/addons/hello/go.sum
  e2e/addons/hello/main.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_deploy_test.go
Labels: area/addon, type/test

#733 chore: add protocol to url in 'ecs-preview app show'
  e2e/addons/addons_test.go
  e2e/init/init_test.go
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-env-project/multi_env_test.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
Labels: area/app

#748 feat!: Use / as the default path for the first app
  cf-custom-resources/lib/alb-rule-priority-generator.js
  cf-custom-resources/test/alb-rule-priority-generator-test.js
  e2e/addons/addons_test.go
  e2e/init/front-end/Dockerfile
  e2e/init/front-end/nginx.conf
  e2e/init/init_test.go
  e2e/multi-app-project/front-end/go.mod
  e2e/multi-app-project/front-end/main.go
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-env-project/multi_env_test.go
  go.mod
  go.sum
  internal/pkg/cli/app_init.go
  internal/pkg/cli/app_init_test.go
  internal/pkg/cli/app_package.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
  internal/pkg/manifest/app_manifest.go
  internal/pkg/manifest/app_manifest_test.go
  internal/pkg/manifest/lb_fargate_manifest.go
  templates/lb-fargate-service/cf.yml
  templates/lb-fargate-service/manifest.yml
Labels: area/app, area/manifest

#757 refactor(deploy): use internal cfn package as dependency instead of SDK
  Makefile
  e2e/addons/hello/addons/ddb.yml
  internal/pkg/aws/cloudformation/changeset.go
  internal/pkg/aws/cloudformation/cloudformation.go
  internal/pkg/aws/cloudformation/cloudformation_test.go
  internal/pkg/aws/cloudformation/errors.go
  internal/pkg/aws/cloudformation/interfaces.go
  internal/pkg/aws/cloudformation/mocks/mock_cloudformation.go
  internal/pkg/aws/cloudformation/stack.go
  internal/pkg/aws/cloudformation/stack_test.go
  internal/pkg/aws/cloudformation/stackstatus.go
  internal/pkg/aws/cloudwatchlogs/cloudwatchlogs.go
  internal/pkg/aws/ecr/ecr.go
  internal/pkg/aws/ecs/ecs.go
  internal/pkg/aws/identity/identity.go
  internal/pkg/aws/route53/route53.go
  internal/pkg/aws/s3/s3.go
  internal/pkg/aws/secretsmanager/secretsmanager.go
  internal/pkg/cli/app_delete.go
  internal/pkg/cli/env_init.go
  internal/pkg/cli/env_init_test.go
  internal/pkg/cli/pipeline_update.go
  internal/pkg/deploy/app.go
  internal/pkg/deploy/cloudformation/app.go
  internal/pkg/deploy/cloudformation/app_test.go
  internal/pkg/deploy/cloudformation/changeset.go
  internal/pkg/deploy/cloudformation/cloudformation.go
  internal/pkg/deploy/cloudformation/cloudformation_test.go
  internal/pkg/deploy/cloudformation/env.go
  internal/pkg/deploy/cloudformation/env_test.go
  internal/pkg/deploy/cloudformation/errors.go
  internal/pkg/deploy/cloudformation/errors_test.go
  internal/pkg/deploy/cloudformation/mocks/mock_cloudformation.go
  internal/pkg/deploy/cloudformation/pipeline.go
  internal/pkg/deploy/cloudformation/pipeline_test.go
  internal/pkg/deploy/cloudformation/project.go
  internal/pkg/deploy/cloudformation/project_test.go
  internal/pkg/deploy/cloudformation/stack.go
  internal/pkg/deploy/cloudformation/stack_status.go
  internal/pkg/deploy/cloudformation/stack_test.go
Labels: type/refactor

#761 refactor(cloudformation): provide constructors for types of change sets
  internal/pkg/aws/cloudformation/changeset.go
  internal/pkg/aws/cloudformation/cloudformation.go
Labels: type/refactor

#762 test: fix gen-mocks by removing mock_deploy.go
  Makefile
  internal/pkg/cli/mocks/mock_deploy.go
  internal/pkg/cli/mocks/mock_interfaces.go
Labels: type/test

#767 chore(cli): refactoring to project init and bug fix
  Makefile
  internal/pkg/aws/route53/mocks/mock_route53.go
  internal/pkg/aws/route53/route53.go
  internal/pkg/aws/route53/route53_test.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/project_init.go
  internal/pkg/cli/project_init_test.go
  internal/pkg/store/mocks/mock_store.go
  internal/pkg/store/project.go
  internal/pkg/store/project_test.go
  internal/pkg/store/store.go
Labels: WIP

#779 feat: add --tags flag to project init
  internal/pkg/archer/project.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_deploy_test.go
  internal/pkg/cli/app_package.go
  internal/pkg/cli/app_package_test.go
  internal/pkg/cli/env_init.go
  internal/pkg/cli/env_init_test.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/pipeline_update.go
  internal/pkg/cli/project_init.go
  internal/pkg/cli/project_init_test.go
  internal/pkg/deploy/app.go
  internal/pkg/deploy/cloudformation/project.go
  internal/pkg/deploy/cloudformation/stack/env.go
  internal/pkg/deploy/cloudformation/stack/env_test.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/deploy/cloudformation/stack/pipeline.go
  internal/pkg/deploy/cloudformation/stack/pipeline_test.go
  internal/pkg/deploy/cloudformation/stack/project.go
  internal/pkg/deploy/cloudformation/stack/project_test.go
  internal/pkg/deploy/cloudformation/stack/tags.go
  internal/pkg/deploy/env.go
  internal/pkg/deploy/pipeline.go
  internal/pkg/deploy/project.go
  internal/pkg/store/project_test.go
  templates/lb-fargate-service/params.json.tmpl
Labels: area/project, type/enhancement

#788 feat: add --resource-tags flag to deploy command
  internal/pkg/aws/tags/tags.go
  internal/pkg/aws/tags/tags_test.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/project_init.go
  internal/pkg/cli/project_init_test.go
  internal/pkg/deploy/cloudformation/stack/tags.go
Labels: area/app, type/enhancement

#793 feat!: propagate tags to ECS tasks
  cf-custom-resources/lib/alb-rule-priority-generator.js
  cf-custom-resources/lib/dns-cert-validator.js
  cf-custom-resources/lib/dns-delegation.js
  cf-custom-resources/lib/enable-long-arns.js
  cf-custom-resources/test/alb-rule-priority-generator-test.js
  cf-custom-resources/test/dns-cert-validator-test.js
  cf-custom-resources/test/dns-delegation-test.js
  cf-custom-resources/test/enable-long-arn-test.js
  internal/pkg/aws/ecs/ecs_test.go
  internal/pkg/deploy/cloudformation/stack/env.go
  internal/pkg/deploy/cloudformation/stack/env_test.go
  templates/environment/cf.yml
  templates/lb-fargate-service/cf.yml
Labels: area/app, type/enhancement

#787 test: add app delete unit tests
  internal/pkg/cli/app_delete.go
  internal/pkg/cli/app_delete_test.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
Labels: area/app, type/test

#798 refactor: move stackset logic out of deploy into its own pkg
  Makefile
  go.sum
  internal/pkg/aws/cloudformation/stackset/description.go
  internal/pkg/aws/cloudformation/stackset/errors.go
  internal/pkg/aws/cloudformation/stackset/instance_summary.go
  internal/pkg/aws/cloudformation/stackset/mocks/mock_stackset.go
  internal/pkg/aws/cloudformation/stackset/stackset.go
  internal/pkg/aws/cloudformation/stackset/stackset_test.go
  internal/pkg/deploy/cloudformation/cloudformation.go
  internal/pkg/deploy/cloudformation/cloudformation_test.go
  internal/pkg/deploy/cloudformation/errors.go
  internal/pkg/deploy/cloudformation/mocks/mock_cloudformation.go
  internal/pkg/deploy/cloudformation/project.go
  internal/pkg/deploy/cloudformation/project_test.go
Labels: type/refactor

#802 fix: do not error on pipeline init for existing buildspec.yml
  internal/pkg/cli/pipeline_init.go
  internal/pkg/cli/pipeline_init_test.go
Labels: area/pipeline, type/enhancement
