Repository aws/copilot-cli, pull requests merged in 2020-04, with the labels that each got.

#818 chore: fix spacing for app init example
  internal/pkg/cli/app_init.go
Labels: type/enhancement

#823 refactor: make params.json.tmpl application agnostic
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
  internal/pkg/manifest/lb_fargate_manifest.go
  templates/applications/lb-web-app/cf.yml
  templates/applications/lb-web-app/manifest.yml
  templates/applications/params.json.tmpl
  templates/lb-fargate-service/params.json.tmpl
Labels: area/app, type/refactor

#824 chore: app init help menu shows flags by app type
  cmd/ecs-preview/template/macro.go
  cmd/ecs-preview/template/template.go
  go.mod
  internal/pkg/cli/app_init.go
  internal/pkg/cli/flag.go
Labels: type/enhancement

#747 feat(cli): Add dockerfile parser to extract EXPOSE statements
  Makefile
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_init.go
  internal/pkg/cli/app_init_test.go
  internal/pkg/cli/init.go
  internal/pkg/cli/init_test.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/docker/docker.go
  internal/pkg/docker/docker_test.go
  internal/pkg/docker/dockerfile/dockerfile.go
  internal/pkg/docker/dockerfile/dockerfile_test.go
  internal/pkg/docker/dockerfile/errors.go
  internal/pkg/docker/mocks/mock_docker.go
Labels: area/manifest

#838 chore(e2e): Force e2e test to extract port from frontend dockerfile
  e2e/multi-app-project/multi_app_project_test.go
Labels: area/app, area/manifest

#835 chore: extract common sections across app types into separate dir
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/template/mocks/mock_template.go
  internal/pkg/template/template.go
  internal/pkg/template/template_test.go
  templates/applications/common/cf/addons.yml
  templates/applications/common/cf/envvars.yml
  templates/applications/common/cf/executionrole.yml
  templates/applications/common/cf/loggroup.yml
  templates/applications/common/cf/service-base-properties.yml
  templates/applications/common/cf/taskrole.yml
  templates/applications/lb-web-app/cf.yml
Labels: area/app

#836 fix: do not fail project delete if pipeline manifest does not exist
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/pipeline_delete.go
  internal/pkg/cli/pipeline_delete_test.go
  internal/pkg/cli/project_delete.go
  internal/pkg/cli/project_delete_test.go
  internal/pkg/workspace/errors.go
  internal/pkg/workspace/workspace.go
  internal/pkg/workspace/workspace_test.go
Labels: area/pipeline, area/project, type/bug

#844 test: fix e2e by applying optional flags only if they're provided
  e2e/internal/client/cli.go
Labels: type/test

#830 chore: add BackendApp manifest type
  internal/pkg/archer/manifest.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_init.go
  internal/pkg/cli/app_init_test.go
  internal/pkg/cli/app_package.go
  internal/pkg/deploy/app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/manifest/app.go
  internal/pkg/manifest/app_test.go
  internal/pkg/manifest/backend_app.go
  internal/pkg/manifest/backend_app_test.go
  internal/pkg/manifest/lb_fargate_manifest.go
  internal/pkg/manifest/lb_web_app.go
  internal/pkg/manifest/lb_web_app_test.go
  internal/pkg/manifest/testdata/backend-app-customhealthcheck.yml
  internal/pkg/manifest/testdata/backend-app-nohealthcheck.yml
  templates/applications/backend-app/manifest.yml
Labels: area/manifest, type/feature

#843 chore: add cf template for backend app
  internal/pkg/template/template.go
  internal/pkg/template/template_test.go
  templates/applications/backend-app/cf.yml
  templates/applications/common/cf/fargate-taskdef-base-properties.yml
  templates/applications/common/cf/servicediscovery.yml
  templates/applications/lb-web-app/cf.yml
Labels: area/app

#848 chore: unmarshal backend app manifest
  internal/pkg/cli/app_init_test.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/manifest/app.go
  internal/pkg/manifest/app_test.go
  internal/pkg/manifest/backend_app.go
  internal/pkg/manifest/backend_app_test.go
  internal/pkg/manifest/errors.go
  internal/pkg/manifest/lb_web_app.go
  internal/pkg/manifest/lb_web_app_test.go
  internal/pkg/manifest/testdata/backend-app-customhealthcheck.yml
  templates/applications/backend-app/manifest.yml
  templates/applications/lb-web-app/manifest.yml
Labels: area/app

#850 refactor(stack): add "app" struct to extract common methods between app stacks
  internal/pkg/cli/app_package.go
  internal/pkg/cli/app_package_test.go
  internal/pkg/deploy/app.go
  internal/pkg/deploy/cloudformation/stack/app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/deploy/cloudformation/stack/lb_web_app.go
  internal/pkg/deploy/cloudformation/stack/lb_web_app_test.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
Labels: type/refactor

#849 build: pipeline show ask
  internal/pkg/aws/codepipeline/codepipeline.go
  internal/pkg/aws/codepipeline/codepipeline_test.go
  internal/pkg/aws/codepipeline/mocks/mock_codepipeline.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/pipeline_show.go
  internal/pkg/cli/pipeline_show_test.go
Labels: area/pipeline

#851 refactor: DeployApp accepts an interface instead of cfn primitives
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_deploy_test.go
  internal/pkg/deploy/cloudformation/app.go
  internal/pkg/deploy/cloudformation/app_test.go
  internal/pkg/deploy/cloudformation/cloudformation.go
  internal/pkg/deploy/cloudformation/stack/app.go
Labels: type/refactor

#856 chore: remove default values from app cfn templates
  Makefile
  internal/pkg/addons/addons.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_deploy_test.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/deploy/cloudformation/mocks/mock_cloudformation.go
  internal/pkg/deploy/cloudformation/stack/app.go
  internal/pkg/deploy/cloudformation/stack/lb_web_app.go
  internal/pkg/deploy/cloudformation/stack/lb_web_app_test.go
  internal/pkg/deploy/cloudformation/stack/mocks/mock_lb_web_app.go
  internal/pkg/deploy/cloudformation/stack/template_functions.go
  internal/pkg/deploy/cloudformation/stack/template_functions_test.go
  internal/pkg/manifest/backend_app.go
  internal/pkg/manifest/backend_app_test.go
  internal/pkg/manifest/lb_web_app.go
  internal/pkg/manifest/lb_web_app_test.go
  internal/pkg/template/app.go
  internal/pkg/template/app_test.go
  internal/pkg/template/mocks/mock_template.go
  internal/pkg/template/template.go
  internal/pkg/template/template_test.go
  templates/applications/common/cf/envvars.yml
  templates/applications/common/cf/taskrole.yml
  templates/applications/lb-web-app/cf.yml
Labels: area/app

#855 refactor: move resourcegroups interface into own pkg
  Makefile
  internal/pkg/aws/cloudwatch/cloudwatch.go
  internal/pkg/aws/cloudwatch/cloudwatch_test.go
  internal/pkg/aws/cloudwatch/mocks/mock_cloudwatch.go
  internal/pkg/aws/resourcegroups/mocks/mock_resourcegroups.go
  internal/pkg/aws/resourcegroups/resourcegroups.go
  internal/pkg/aws/resourcegroups/resourcegroups_test.go
Labels: do-not-merge

#862 chore(cli): make pipeline init idempotent
  internal/pkg/cli/app_init.go
  internal/pkg/cli/cli.go
  internal/pkg/cli/pipeline_init.go
  internal/pkg/cli/pipeline_init_test.go
Labels: area/pipeline

#870 refactor: use ResourceGroups to retrieve pipelines
  internal/pkg/aws/codepipeline/codepipeline.go
  internal/pkg/aws/codepipeline/codepipeline_test.go
  internal/pkg/aws/codepipeline/mocks/mock_codepipeline.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/pipeline_show.go
  internal/pkg/cli/pipeline_show_test.go
Labels: area/pipeline

#863 feat(cli): package backend app manifests
  Makefile
  internal/pkg/cli/app_package.go
  internal/pkg/cli/app_package_test.go
  internal/pkg/deploy/cloudformation/stack/backend_app.go
  internal/pkg/deploy/cloudformation/stack/backend_app_test.go
  internal/pkg/deploy/cloudformation/stack/lb_web_app.go
  internal/pkg/deploy/cloudformation/stack/mocks/mock_backend_app.go
  internal/pkg/manifest/backend_app.go
  internal/pkg/template/app.go
  internal/pkg/template/app_test.go
  templates/applications/backend-app/cf.yml
Labels: area/app, type/feature

#872 chore(describe): extract stack related methods from WebAppDescriber
  Makefile
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
  internal/pkg/cli/app_status.go
  internal/pkg/cli/app_status_test.go
  internal/pkg/cli/cli.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/describe/app.go
  internal/pkg/describe/app_test.go
  internal/pkg/describe/env.go
  internal/pkg/describe/lb_web_app.go
  internal/pkg/describe/lb_web_app_test.go
  internal/pkg/describe/mocks/mock_app.go
  internal/pkg/describe/mocks/mock_describe.go
  internal/pkg/describe/mocks/mock_lb_web_app.go
  internal/pkg/describe/mocks/mock_stack.go
  internal/pkg/describe/mocks/mock_status.go
  internal/pkg/describe/stack.go
  internal/pkg/describe/stack_test.go
  internal/pkg/describe/status.go
  internal/pkg/describe/status_test.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
Labels: type/refactor

#879 feat(cli): app deploy supports backend apps
  internal/pkg/cli/app_deploy.go
Labels: type/feature

#878 chore(e2e): add e2e test for app show for service discovery
  e2e/init/init_test.go
  e2e/internal/client/outputs.go
Labels: type/test

#880 test(e2e): add backend app type e2e test
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-app-project/www/Dockerfile
  e2e/multi-app-project/www/go.mod
  e2e/multi-app-project/www/main.go
  e2e/multi-env-project/multi_env_test.go
Labels: type/test

#882 refactor(aws): remove project/app concepts from the aws packages
  internal/pkg/aws/cloudwatchlogs/cloudwatchlogs.go
  internal/pkg/aws/codepipeline/codepipeline.go
  internal/pkg/aws/codepipeline/codepipeline_test.go
  internal/pkg/aws/ecs/ecs.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/pipeline_show.go
  internal/pkg/cli/pipeline_show_test.go
Labels: type/refactor
