Repository aws/copilot-cli, pull requests merged in 2020-06, with the labels that each got.

#995 chore(addons): merge two cfn template's Metadata section
  go.mod
  go.sum
  internal/pkg/addons/addons.go
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
  internal/pkg/addons/testdata/metadata/first.yaml
  internal/pkg/addons/testdata/metadata/invalid-second.yaml
  internal/pkg/addons/testdata/metadata/valid-second.yaml
  internal/pkg/addons/testdata/metadata/wanted.yaml
Labels: area/addon

#1002 fix(prompt): remove ".Answer" field from GetSecret template
  internal/pkg/cli/pipeline_init.go
  internal/pkg/cli/pipeline_init_test.go
  internal/pkg/term/prompt/prompt.go
  internal/pkg/term/prompt/prompt_test.go
Labels: type/bug

#1007 chore(addons): merge cfn templates Parameters section
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
  internal/pkg/addons/output_test.go
  internal/pkg/addons/testdata/merge/first.yaml
  internal/pkg/addons/testdata/merge/invalid-metadata.yaml
  internal/pkg/addons/testdata/merge/invalid-parameters.yaml
  internal/pkg/addons/testdata/merge/second.yaml
  internal/pkg/addons/testdata/merge/wanted.yaml
  internal/pkg/addons/testdata/metadata/first.yaml
  internal/pkg/addons/testdata/metadata/valid-second.yaml
  internal/pkg/addons/testdata/metadata/wanted.yaml
  internal/pkg/addons/testdata/outputs/template.yml
Labels: area/addon

#1012 chore(addons): merge cfn templates Conditions section
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
  internal/pkg/addons/testdata/merge/first.yaml
  internal/pkg/addons/testdata/merge/invalid-conditions.yaml
  internal/pkg/addons/testdata/merge/second.yaml
  internal/pkg/addons/testdata/merge/wanted.yaml
Labels: area/addon

#1016 chore(addons): merge cfn templates Transform section
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/testdata/merge/first.yaml
  internal/pkg/addons/testdata/merge/second.yaml
  internal/pkg/addons/testdata/merge/wanted.yaml
Labels: area/addon

#1017 chore(addons): merge cfn templates Resource section
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
  internal/pkg/addons/testdata/merge/first.yaml
  internal/pkg/addons/testdata/merge/invalid-resources.yaml
  internal/pkg/addons/testdata/merge/second.yaml
  internal/pkg/addons/testdata/merge/wanted.yaml
Labels: area/addon

#1018 chore(addons): merge cfn templates Outputs section
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
  internal/pkg/addons/testdata/merge/first.yaml
  internal/pkg/addons/testdata/merge/invalid-outputs.yaml
  internal/pkg/addons/testdata/merge/second.yaml
  internal/pkg/addons/testdata/merge/wanted.yaml
Labels: area/addon

#1020 feat(addons)!: accept complete cfn templates as inputs
  e2e/addons/hello/addons/ddb.yml
  e2e/addons/hello/addons/hello-table.yaml
  e2e/addons/hello/addons/outputs.yml
  e2e/addons/hello/addons/params.yml
  e2e/addons/hello/addons/passwd-secret.yaml
  e2e/addons/hello/addons/policy.yml
  e2e/addons/hello/addons/secret.yml
  e2e/sidecars/hello/addons/outputs.yml
  e2e/sidecars/hello/addons/params.yml
  e2e/sidecars/hello/addons/permissions.yaml
  e2e/sidecars/hello/addons/policy.yml
  internal/pkg/addons/addons.go
  internal/pkg/addons/addons_test.go
  templates/addons/cf.yml
  templates/addons/ddb/cf.yml
  templates/addons/ddb/outputs.yml
  templates/addons/ddb/policy.yml
  templates/addons/params.yml
  templates/addons/s3/cf.yml
  templates/addons/s3/outputs.yml
  templates/addons/s3/policy.yml
Labels: area/addon, type/breaking-change

#1024 feat(cfn): add CAPABILITY_AUTO_EXPAND when creating a change set
  internal/pkg/aws/cloudformation/changeset.go
  internal/pkg/aws/cloudformation/cloudformation_test.go
Labels: area/addon

#1023 feat(addons): add file names, line, and col to keyAlreadyExists err
  cmd/copilot/main.go
  internal/pkg/addons/addons.go
  internal/pkg/addons/addons_test.go
  internal/pkg/addons/cloudformation.go
  internal/pkg/addons/errors.go
  internal/pkg/addons/errors_test.go
Labels: area/addon

#1015 feat(cli): add validate for task run
  cmd/copilot/main.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/task.go
  internal/pkg/cli/task_run.go
  internal/pkg/cli/task_run_test.go
Labels: do-not-merge

#1056 feat: tighten permissions on task/execution role
  templates/services/common/cf/executionrole.yml
  templates/services/common/cf/taskrole.yml
Labels: do-not-merge
