Repository aws/copilot-cli, pull requests merged in 2020-01, with the labels that each got.

#586 Update style guide with guidence on list and show commands
  STYLE_GUIDE.md
Labels: documentation

#587 refactor(env init): conform to Validate, Ask, Execute
  internal/pkg/cli/env_init.go
  internal/pkg/cli/env_init_test.go
Labels: debt

#600 feat(app-show): infer app from working directory
  go.mod
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
Labels: area/app, type/enhancement

#605 feat(app-show): display environment variables
  Makefile
  internal/pkg/aws/ecs/ecs.go
  internal/pkg/aws/ecs/ecs_test.go
  internal/pkg/aws/ecs/mocks/mock_ecs.go
  internal/pkg/cli/app_deploy.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
  internal/pkg/cli/cli.go
  internal/pkg/cli/mocks/mock_cli.go
  internal/pkg/describe/mocks/mock_describe.go
  internal/pkg/describe/webapp.go
  internal/pkg/describe/webapp_test.go
Labels: area/app, type/feature

#608 style: display available profile names while creating and deleting envs
  go.mod
  go.sum
  internal/pkg/aws/profile/profile.go
  internal/pkg/aws/session/session.go
  internal/pkg/cli/cli.go
  internal/pkg/cli/env_delete.go
  internal/pkg/cli/env_delete_test.go
  internal/pkg/cli/env_init.go
  internal/pkg/cli/env_init_test.go
  internal/pkg/cli/init.go
  internal/pkg/cli/mocks/mock_cli.go
  internal/pkg/ini/ini.go
  internal/pkg/ini/ini_test.go
Labels: area/env, type/enhancement

#611 fix: running `make` fails with whitespace in $PATH
  Makefile
Labels: type/bug
