Repository aws/copilot-cli, pull requests merged in 2020-02, with the labels that each got.

#628 feat(app-logs): add `app logs` subcommand
  Makefile
  go.mod
  go.sum
  internal/pkg/aws/cloudwatchlogs/cloudwatchlogs.go
  internal/pkg/aws/cloudwatchlogs/cloudwatchlogs_test.go
  internal/pkg/aws/cloudwatchlogs/event.go
  internal/pkg/aws/cloudwatchlogs/mocks/mock_cloudwatchlogs.go
  internal/pkg/cli/app.go
  internal/pkg/cli/app_logs.go
  internal/pkg/cli/app_logs_test.go
  internal/pkg/cli/app_show.go
  internal/pkg/cli/app_show_test.go
  internal/pkg/cli/cli.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/mocks/mock_cli.go
  internal/pkg/term/color/color.go
  templates/environment/cf.yml
Labels: area/app, type/feature

#658 fix: project delete support for multiple env profiles
  internal/pkg/cli/cli.go
  internal/pkg/cli/deploy.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/mocks/mock_deploy.go
  internal/pkg/cli/project_delete.go
  internal/pkg/deploy/cloudformation/cloudformation.go
  internal/pkg/deploy/cloudformation/project.go
  internal/pkg/deploy/cloudformation/project_test.go
Labels: area/project

#652 feat: add "pipeline delete" command
  internal/pkg/archer/secret.go
  internal/pkg/aws/secretsmanager/mocks/mock_secretsmanager.go
  internal/pkg/aws/secretsmanager/secretsmanager.go
  internal/pkg/aws/secretsmanager/secretsmanager_test.go
  internal/pkg/cli/deploy.go
  internal/pkg/cli/flag.go
  internal/pkg/cli/interfaces.go
  internal/pkg/cli/mocks/mock_deploy.go
  internal/pkg/cli/mocks/mock_interfaces.go
  internal/pkg/cli/pipeline.go
  internal/pkg/cli/pipeline_delete.go
  internal/pkg/cli/pipeline_delete_test.go
  internal/pkg/cli/pipeline_init.go
  internal/pkg/deploy/cloudformation/cloudformation.go
  internal/pkg/deploy/cloudformation/pipeline.go
  internal/pkg/workspace/workspace.go
  internal/pkg/workspace/workspace_test.go
  mocks/mock_secret.go
Labels: area/pipeline

#674 refactor: add template pkg to render Go templates
  Makefile
  internal/pkg/addons/addons.go
  internal/pkg/addons/addons_test.go
  internal/pkg/cli/pipeline_init.go
  internal/pkg/cli/pipeline_init_test.go
  internal/pkg/deploy/cloudformation/env.go
  internal/pkg/deploy/cloudformation/project.go
  internal/pkg/deploy/cloudformation/project_test.go
  internal/pkg/deploy/cloudformation/stack/env.go
  internal/pkg/deploy/cloudformation/stack/env_test.go
  internal/pkg/deploy/cloudformation/stack/errors.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app.go
  internal/pkg/deploy/cloudformation/stack/lb_fargate_app_test.go
  internal/pkg/deploy/cloudformation/stack/pipeline.go
  internal/pkg/deploy/cloudformation/stack/pipeline_test.go
  internal/pkg/deploy/cloudformation/stack/project.go
  internal/pkg/deploy/cloudformation/stack/project_test.go
  internal/pkg/deploy/cloudformation/stack/testdata/rendered_pipeline_cfn_template.yml
  internal/pkg/deploy/cloudformation/stack/testdata/rendered_pipeline_with_no_application_cfn_template.yml
  internal/pkg/deploy/cloudformation/stack/testdata/rendered_project_cfn_template.yml
  internal/pkg/manifest/lb_fargate_manifest.go
  internal/pkg/manifest/lb_fargate_manifest_test.go
  internal/pkg/manifest/pipeline.go
  internal/pkg/manifest/pipeline_test.go
  internal/pkg/template/mocks/mock_template.go
  internal/pkg/template/template.go
  internal/pkg/template/template_test.go
Labels: type/refactor

#677 test(profile): add unit tests to the "aws/profile" package
  internal/pkg/aws/profile/profile.go
  internal/pkg/aws/profile/profile_test.go
Labels: type/test

#679 test(e2e): allow for CloudWatch logs delay
  e2e/init/init_test.go
  e2e/multi-app-project/multi_app_project_test.go
  e2e/multi-env-project/multi_env_test.go
Labels: type/test

#685 docs: update Readme and Contributing docs
  .github/CODEOWNERS
  CHARTER.md
  CONTRIBUTING.md
  README.md
Labels: type/documentation

#684 chore: parse addons template outputs to detect secrets and policies
  go.mod
  go.sum
  internal/pkg/addons/addons.go
  internal/pkg/addons/output.go
  internal/pkg/addons/output_test.go
  internal/pkg/addons/testdata/template.yml
  internal/pkg/cli/env_delete.go
Labels: area/addon

#680 feat: web app template supports nested addons stack
  Makefile
  templates/lb-fargate-service/cf.yml
Labels: area/addon
